<nav class="navbar navbar-expand-sm navbar-light bg-light"> 
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
          <li class="active"><a class- "nav-link" href="/">Login/Logout</a>
            <a href="/dashboard">Dashboard</a>
            <a href="#">About</a>                
            <a href="#">Privacy</a>
            <a href="#">Help</a>
            </li>
        </ul>
    </div>
</nav>