<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Daily Rhythm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap" rel="stylesheet">
<link rel='stylesheet' href='/styles/stylesheet.css'/>
  </head>
  <body>
    <header>
    <h1 class="page-header">Welcome to Daily Rhythm</h1>
</header>
    <main>{{{body}}}</main>

    <footer>
      <div class="footer">
        <div class="links">
          <a href="#">About</a>
          <a href="#">Career</a>
          <a href="#">Privacy</a>
          <a href="#">Term</a>
          <a href="#">Help</a>
        </div>
        <div class="container">Copyright &copy; 2021 Daily Rhythm</div>

      </div>
    </footer>
  </body>
</html>