<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Daily Rhythm</title>
	</head>
	<body>
		{{{ body }}}
		<footer>
    <div class="footer">
    <div class="links">
    <a href="#">About</a>
    <a href="#">Career</a>   
    <a href="#">Privacy</a>   
    <a href="#">Term</a> 
    <a href="#">Help</a>      
    </div>
        <div class="container">Copyright &copy; 2021 Daily Rhythm</div>
                
    </div>
</footer>
	</body>
</html>
