<section>
    <h2>Would you like to add a task?</h2>

    <form class='new-task'>
    <div>
        <label for='taskTitle'>Task Title</label>
        <input type='text' id='taskTitle' name='taskTitle' />
    </div>


    </form>
</section>