<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Daily Rhythm</title>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<nav>
<div class="loginbox">
<h1>Welcome to Daily Rhythm</h1>
<form>
<p>Username</p>
<input type="text" name="" placeholder="Username">
<p>Password</p>
<input type="password" name="" placeholder="Password">
<br>
<input class="submitBtn" type="Submit" name="" value="Login">
<br>
<a href="#">Forgot Password</a>
<br>
<a href="#">Sign Up</a>
</form>
</div>
</nav>
</body>
</html>
