<!-- Log In Section -->
<nav>
  <div class="loginbox">
    <h2>Login</h2>
    <form>
      <input
        type="text"
        name="username"
        placeholder="Email"
        class="username"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="password"
      />
      <br />
      <input class="submitBtn" type="Submit" name="login" value="Login" />
      <br />
      <a href="#">Forgot Password?</a>
      <br />
      <a href="/signup">Sign Up</a>
    </form>
  </div>
</nav>
<!-- Sign up Section -->
<form class="signupbtn">
  <div>
    <h1>Sign Up</h1>
    <label for="username-signup"></label>
    <input type="text" id="username-signup" placeholder="Username" />
  </div>
  <div>
    <label for="email-signup"></label>
    <input type="text" id="email-signup" placeholder="E-mail" />
  </div>
  <div>
    <label for="password-signup"></label>
    <input type="password" id="password-signup" placeholder="Create Password" />
  </div>
  <div>
    <div>

    </div>
    <button type="submit" id="signUpbtn">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>