<main>
    <h1 id='mainHead'>Welcome to Daily Rhythm!</h1>
    <h2 id='whatDo'>Click here to get started!</h2>
    <button type=submit id='loginButton'>Login</button>
    <button type=submit id='loginButton'>Signup</button>
</main>