<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Daily Rhythm</title>

<!--<link rel="stylesheet" href="../public/styles/{{this}}">-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap" rel="stylesheet">

</head>
<body>
    <header>
    <h1 class="page-header">Welcome to Daily Rhythm</h1>
</header>
<nav>
<div class="loginbox">
<form>
<input type="text" name="username" placeholder="Username" class="username">
<input type="password" name="password" placeholder="Password" class="password">
<br>
<input class="submitBtn" type="Submit" name="login" value="Login">
<br>
<a href="#">Forgot Password?</a>
<br>
<a href="{{{'signUp'}}}">Sign Up</a>
</form>
</div>
</nav>
</body>
</html>

<script src="/public/javascript/login.js"></script>