<form class = 'login'>
    <div>
        <label for='email'>email:</label>
        <input type='text' id = 'email'/>
    </div>
    <div>
        <label for='passwordEnter'>password:</label>
        <input type='password' id='passwordEnter'/>
    </div>
    <div>
        <button type='submit'>login</button>
    </div>
</form>
    <form class='signup'>
        <div>
            <label for='emailSignup'>Email:</label>
            <input type='text' id='emailSignup' />
        </div>
        <div>
            <label for='passwordSignup'>Password:</label>
            <input type='text' id='passwordSignup' />
        </div>
    </form>
