<form class = 'login'>
    <div>
        <label for='email'>email:</label>
        <input type='text' id = 'email'/>
    </div>
    <div>
        <label for='passwordEnter'>password:</label>
        <input type='password' id='passwordEnter'/>
    </div>
    <div>
        <button type='submit'>login</button>
    </div>
</form>