
    <form class='signup'>
        <div>
            <label for='emailSignup'>Email:</label>
            <input type='text' id='emailSignup' />
        </div>
        <div>
            <label for='passwordSignup'>Password:</label>
            <input type='text' id='passwordSignup' />
        </div>
        <button type='submit'>submit</button>
    </form>

    <script src="/public/javascript/login.js"></script>
