
<form class = 'login'>
    <div>
        <label for='emailLogin'>email:</label>
        <input type='text' id = 'emailLogin'/>
    </div>
    <div>
        <label for='passwordLogin'>password:</label>
        <input type='password' id='passwordLogin'/>
    </div>
    <div>
        <button type='submit'>login</button>
    </div>
</form>
    <form class='signup-form'>
        <div>
            <label for='emailSignup'>Email:</label>
            <input type='text' id='emailSignup' />
        </div>
        <div>
            <label for='passwordSignup'>Password:</label>
            <input type='text' id='passwordSignup' />
        </div>
        <button type='submit'>submit</button>
    </form>

    <script src="/public/javascript/login.js"></script>
