<header>
        <h1 class="page-header">Daily Rhythm</h1>
    </header>
    <form>
        <div class="taskSection">
    <h2>Enter Task</h2>
    <input type="text" name="Task-Name" placeholder="Enter Task Name" id="taskName">
    <p>Enter Description of Task</p>
    <input type="text" name="Task-Name" id="TaskDescription" placeholder="Enter Task Description">
    <p>Enter Phone Number</p>
    <input type="text" name="Task-Name" id="PhoneNumber" placeholder="Enter Phone Number">
    <p>Enter Time</p><input type="time" name="Task-Name" id="takeName">
    <p>Task Category</p>
    <select name="takeName" id="tasklist">
        <option value="personal">Personal</option>
        <option value="work">Work</option>
        <option value="activities">Activities</option>
      </select>
     <button type="submit" id="addTaskBtn">Submit</button>
    </div>
</form>
<div class="dashboardSection">
<h2>Tasks</h2>
</div>