<header>
        <h1 class="page-header">Daily Rhythm</h1>
    </header>
    <form>
        <div class="taskSection">
    <h2>Enter Task</h2>
    <input type="text" name="title" placeholder="Enter Task Name" id="taskName">
    <p>Enter Description of Task</p>
    <input type="text" name="description" id="TaskDescription" placeholder="Enter Task Description">
    <p>Enter Phone Number</p>
    <input type="text" name="number" id="PhoneNumber" placeholder="Enter PhoneNumber">
    <p>Enter Time</p><input type="text" name="time" id="takeTime" placeholder="HH:MM:SS">
    <p>Task Category</p>
    <select name="takeName" id="tasklist">
        <option value="personal">Personal</option>
        <option value="work">Work</option>
        <option value="activities">Activities</option>
      </select>
     <button type="submit" id="addTaskBtn">Submit</button>
    </div>
</form>


<div class="dashboardSection">
    {{#if task.length}}
    <h2>Your Tasks:</h2>
{{#each task}}
<h2>{{dataValues.title}}</h2>
<p>{{dataValues.description}}</p>
<p>{{dataValues.time}}</p>
{{/each}}
{{/if}}
{{#else}}
<h2>No POsts</h2>
{{/else}}
</div>


<script src="/javascript/addtask.js"></script>