body {
    background-color: RGB(57, 135, 201);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99;
    
}

.page-header {
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.loginbox {
    width: 320px;
    height: 320px;
    background:whitesmoke;
    color: black;
    top: 30%;
    right: 60%;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Cabin', sans-serif;
}

.submitBtn {
    background-color: #1877f2;
    margin: 10px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 250px;
}

.username {
width: 250px;
font-size: 17px;
border-radius: 3px;
height: 30px;
margin: 20px;
border: 1px solid;
}

.password {
    width: 250px;
    font-size: 17px;
    border-radius: 3px;
    height: 30px;
    border: 1px solid;
    margin-bottom: 40px;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px; 
   background:whitesmoke;
}

.links {
    text-align: center;
    margin: 10px;
    word-spacing: 10px;
    font-family: 'Cabin', sans-serif;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.signupbtn {
    width: 320px;
    height: 340px;
    background:whitesmoke;
    color: black;
    top: 30%;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Cabin', sans-serif;
}

#username-signup {
    width: 250px;
    font-size: 17px;
    border-radius: 3px;
    height: 30px;
    margin: 20px;
    border: 1px solid;
    font-family: 'Cabin', sans-serif;
}

#email-signup {
    width: 250px;
    font-size: 17px;
    border-radius: 3px;
    height: 30px;
    margin: 5px;
    border: 1px solid;
}

#password-signup {
    width: 250px;
    font-size: 17px;
    border-radius: 3px;
    height: 30px;
    margin: 20px;
    border: 1px solid;
}

#signUpbtn {
    background-color: #1877f2;
    margin: 0;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 250px;  
}

/* Task Section */

.taskSection {
    width: 320px;
    height: 400px;
    background:whitesmoke;
    color: black;
    top: 30%;
    right: 60%;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Cabin', sans-serif;
}

.dashboardSection {
    width: 600px;
    height: 390px;
    background:whitesmoke;
    color: black;
    top: 30%;
    left: 42%;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Cabin', sans-serif;
}